.App {
  text-align: center;
}


/*------- MESSAGES ------*/
.messages-wrapper {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  height: 500px;
  border:1px solid #ccc;
}
.messages-wrapper .message {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  padding: 5px 10px;
}

.messages-wrapper .message:hover {
  background: #f1f1f1;
}

